.Main {
  .ant-card {
    background: rgba(0, 0, 0, 0);
    border: 0px;
  }
}

.Header_RightChild {
  padding: 0 5px;

  &:last-child {
    padding-right: 0;
  }
}

.cardMeta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cardMetaType {
  font-size: 14px;
  font-weight: normal;
}
.cardCover {
  padding: 10px;
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
.cardMeta {
  display: flex;
  align-items: center;
  span {
    flex: 1;
  }
}
