.dirName {
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: #eee;
  }
}

.form {
  position: sticky;
  top: 0px;
  padding-top: 20px !important;
  background-color: #fff;
  z-index: 1;
}
