.projectCard {
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}
.cardDescription {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}